ChartUI {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;

	.chart {
		height: 1500px;
		width: 1500px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		filter: drop-shadow( 0px, 1px, 2px, #000000 );
	}
}
