@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits Panel
@namespace Sandbox

<root>
    <div class="message" style="opacity: @Fading">
        <div class="text">@DisplayedText</div>
    </div>
</root>

@code
{
    public string Speaker { get; set; } = "Unknown";
    public string Text { get; set; } = "...";
    public float Speed { get; set; } = 1f;
    public GameObject Talker { get; set; }
    public TimeSince LifeTime { get; set; }
    public float Fading { get; set; } = 1f;
    public float Pitch { get; set; } = 1f;

    private string _displayedText;
    public string DisplayedText => $"{Speaker}: {_displayedText}";
    public Vector3 TalkerPosition => (Talker?.WorldPosition ?? Vector3.Zero) + Vector3.Up * 64f;
    private int _lastSpoken;

    public void Update()
    {
        if (string.IsNullOrWhiteSpace(Text)) return;

        var count = Text.Count();
        var totalTime = count / Speed;

        if ( LifeTime.Relative < totalTime )
        {
            var progress = LifeTime.Relative / totalTime;
            var charactersToDisplay = (int)Math.Ceiling(progress * count);

            _displayedText = Text.Substring(0, (int)Math.Clamp(charactersToDisplay, 0, count));

            if ( Talker.IsValid() )
            {
                if (_lastSpoken != charactersToDisplay)
                {
                    var toSpeak = _displayedText.Last();

                    if ( toSpeak >= 'A' && toSpeak <= 'Z' || toSpeak >= 'a' && toSpeak <= 'z' ) // Only pronounce normal letters
                        Sound.Play(toSpeak.ToString().ToLower(), TalkerPosition).Pitch *= Pitch;
                }
            }

            _lastSpoken = charactersToDisplay;
        }

        if (!Scene.Camera.IsValid()) return;
        if (!Talker.IsValid()) return;
        var distance = Scene.Camera.WorldPosition.Distance(TalkerPosition); // Is the person nearby?
        var looking = distance <= 120f ? 0.5f : Vector3.Dot(Scene.Camera.WorldRotation.Forward, Vector3.Direction(Scene.Camera.WorldPosition, TalkerPosition)); // Is the person looking at it?
        Fading = Math.Clamp((1f - ((distance - 150f) / 300f)) * (looking + 0.5f), 0f, 1f);
    }

    protected override int BuildHash() => System.HashCode.Combine(Fading, DisplayedText);
}
