@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="title" style="color: rgba(255,255,255,@Interactable);">
        @Interaction
    </div>
</root>

@code
{
    public string Interaction => Player.Local?.CurrentInteraction?.InteractionName ?? "";
    public float Interactable => Player.Local?.CurrentInteraction?.CanInteract ?? false ? 1f : 0.5f;

    protected override int BuildHash() => System.HashCode.Combine(Interaction, Interactable);
}
