{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "sound": "Unset",
    "bodyguard": "Collide",
    "voted": "Unset",
    "player": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "sound",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "bodyguard",
      "b": "voted",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Ignore"
    }
  ],
  "__guid": "244cf9cf-465b-47c9-88d4-f1a99e24c68f",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}