{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Run",
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton",
      "GroupName": "Movement"
    },
    {
      "Name": "Walk",
      "KeyboardCode": "alt",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Duck",
      "KeyboardCode": "ctrl",
      "GamepadCode": "B",
      "GroupName": "Movement"
    },
    {
      "Name": "attack1",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "use",
      "KeyboardCode": "e",
      "GamepadCode": "Y",
      "GroupName": "Actions"
    },
    {
      "Name": "Gun",
      "KeyboardCode": "g",
      "GamepadCode": "SwitchRightBumper",
      "GroupName": "Inventory"
    },
    {
      "Name": "Voice",
      "KeyboardCode": "v",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "None",
      "GroupName": "Other"
    }
  ],
  "__guid": "9ec9d0c1-5b12-401f-9e0b-6dbe40433e33",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}